
:root {
  --color-background-body:#ffffff;
  --color-background-header:#9BB7D4;
  --color-text:#000000;

  --color-link:#000000;
  --color-link-visited:#000000;
  --color-link-active:#000000;

  --fontsize-text: 16px;
  --fontsize-h1: 24px;
  --fontsize-h2: 18px;
  --fontsize-h3: 16px;

  --fontweight-header: 700;
  --fontweight-text: 400;
}

/* Begin body --------------------------*/
* {
  box-sizing: border-box;
}
body {
  background-color: var(--color-background-body);
  font-family: 'lato', sans-serif;
  color: var(--color-text);
}
/* End body ---------------------------*/

/* Begin header and paragraph ---------------------------*/
h1, h2, h3 {
  font-weight: var(--fontweight-header);
}
h1 {
  font-size: var(--fontsize-h1);
}
h2 {
  font-size: var(--fontsize-h2);
}
h3 {
  font-size: var(--fontsize-h3);
}
p {
  font-size: var(--fontsize-text);
  font-weight: var(--fontweight-text);
}
span {
  color: var(--color-text);
}
/* End header and paragraph ---------------------------*/


/* Begin anchor --------------------------------*/
a {
  color: var(--color-link);
  font-size: var(--fontsize-text);
  text-decoration: underline;
}
a:visited {
  color: var(--color-link-visited);
}
a:hover, a:focus {
  text-decoration: none;
}
a:active {
  color: var(--color-link-active);
}

/*End anchor-----------------------------*/


/*Begin Page header---------------------------*/
.page-header {
  display: flex;
  width: 100%;
  padding: 10px 30px;
  background-color: var(--color-background-header);
}
.page-header__item {
  flex: 0 1 100px;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}
.navigation-list{
  list-style: none;
}

.navigation-list li{
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
}


/*End Page header---------------------------*/

/*Begin Page Footer---------------------------*/
.page-footer {
  display: flex;
  clear: both;
  flex-direction: column;
  text-align: center;
}
.social-links__image {
  width: 30px;
  height: 30px;
}
.social-links:hover {
  cursor: pointer;
  opacity: 0.7;
  text-decoration: none;
}

.social-links {
  text-decoration: none;
}

/*End Page Footer---------------------------*/


/* Begin button-----------------------------*/
.subscribe {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
}

.button,
.button__primary {
  font-family: inherit;
  font-size: var(--fontsize-text);
  color: var(--color-text);
  background-color: var(--color-background-header);
  border-radius: 5px;
  border: none;
  padding: 5px;
  text-decoration: none;
}

.button__secondary {
  font-family: inherit;
  font-size: var(--fontsize-text);
  color: var(--color-text);
  background-color: inherit;
  border: none;
  text-decoration: underline;
}

.button:hover,
.button:focus
  {
  cursor: pointer;
  opacity: 0.7;
  text-decoration: none;
}

.button__primary:hover,
.button__primary:focus
  {
  cursor: pointer;
  opacity: 0.7;
}

.button__secondary:hover,
.button__secondary:focus {
  cursor: pointer;
  opacity: 0.7;
  text-decoration: none;
}

.button,
.button__primary,
.button__secondary {
  /*transition--*/
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    /*transition-delay: none;*/
}
/* End button-----------------------------*/

/*Begin Index----------------*/
.profile__portrait {
  float: left;
  margin-right: 40px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.5);
  max-width: 150px;
  border-radius: 50%;
}
.profile {
  max-width: 700px;
  margin: 10px auto;
  padding: 10px;
}

#web-span {
  color: darkred;
}

.berlin-animation {
  clear: both;
  text-align: center;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100%{
    fill: #f76414;
  }
}

.sun {
  animation-duration: 6s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes cloud-move {
  from  {
    transform: translate(0px,50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-back {
  animation-duration: 15s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from  {
    transform: translate(500px,50px);
  }
  to {
    transform: translate(350px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move-reverse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/*End Index----------------*/

/*Begin About me---------------*/
.overview-aboutme {
  font-size: inherit;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.experience th, td {
  color: var(--color-text);
  font-size: var(--fontsize-text);
  text-align: center;
}

.experience,.download-cv {
  text-align: center;
  margin: auto;
  padding: 10px;
}

.overview-aboutme__text{
  text-align: justify;
  padding: 20px;
}
/*End About me---------------*/

/*Begin Contact-----------------------*/

.contact {
  text-align: center;
  margin: 0 auto;
}

.contact-detail, .contact-form__table {
  font-size: var(--fontsize-text);
  text-align: center;
  margin: 0 auto;
}

.contact-form {
  background-color: #9BB7D4;
  max-width: 350px;
  margin: auto;
  text-align: center;
  border-radius: 5px;
}

.contact-form__table {
  font-size: var(--fontsize-text);
  text-align: left;
  padding: 30px;
}

.contact-form__table td {
  text-align: left;
}


/*End Contact-----------------------*/

/*Begin Work-----------------------*/
.work-section {
  margin: 20px;
}
.grid__item {
  display: inline-block;
  width: 33%;
  background-color:var(--color-background-header);
  color: var(--color-text);
  padding-bottom: 10px;
  border-radius: 2%;
}
@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 50px;

  }
  .grid__item {
    padding: 0 20px;
    background-color: var(--color-background-header);
    width: auto;
    padding: 10px;
    border-radius: 5px;
  }
  .grid__item:last-child {
    grid-column: 3/3;
    grid-row: 1/3;
  }

}
/*End Work-----------------------*/

/*Begin Media mobile------------------*/


@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
    margin: 25px;
  }
  .grid__item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    margin: 15px;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    margin: 5px;
  }
}


/*End Media mobile------------------*/
